.folder-header {
  font-size: 25px;
}

.folder-img {
  max-width: 300px;
  min-width: 200px;
  border-radius: 20px;
}

.folder-container {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(384px, 1fr));
  grid-gap: 15px;
  width: auto;
  height: auto;
}

.single-folder {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin: 20px;
}

#background {
  background-image: url("./gradient-background-green-shades_23-2148363157.jpeg");
  background-size: cover;
}

.file-table {
}

tbody {
  width: 100%;
  overflow-x: auto;
}
tbody > tr {
}

tbody > tr > th {
  font-size: 15px;
  padding: 30px;
  text-align: left;
}



