.folder-header {
  font-size: 25px;
}

.folder-img {
  max-width: 300px;
  min-width: 200px;
  border-radius: 20px;
}

.folder-container {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(384px, 1fr));
  grid-gap: 15px;
  width: auto;
  height: auto;
}

.single-folder {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin: 20px;
}

#background {
  background-image: url("./gradient-background-green-shades_23-2148363157.jpeg");
  background-size: cover;
}

.file-photo {
  width: 200px;
}

#file-table {
  border-collapse: collapse;
  width: 100%;
  max-width: auto;
  table-layout: fixed;
}


#file-table > tr > td {
  border: 1px solid #bbb;
  padding: 8px;
}

#file-table tr:nth-child(even) {
  background-color: #F2F2F2;
}
#file-table tr:hover {
  background-color: #ddd;
}

#file-table > td {
  padding-top: 12px;
  padding-bottom: 12px;
}



