* {
  font-family: 'Roboto', sans-serif;
  color: white;
}
#background {
  background: linear-gradient(to right, #25c481, #25b7c4);
}

/* .nav {
  display: flex;
  top: 0;
  left: 0;
}

.nav-flex {
  display: flex;
} */

/* FOLDER PAGE DESIGN */

.folder-header {
  font-size: 16px;
  text-align: center;
  padding: 5px 40px;
}

.folder-img {
  max-width: 280px;
  height: auto;
  width: fit-content;
}

.folder-container {
  display: grid;
  grid-gap: 20px;
  justify-content: center;
  grid-template-columns: repeat(3, 300px);
  width: 100%;
  height: auto;
  padding-bottom: 40px;
}

.folder-button {
  background-color: #3096b4;
  border: none;
  border-radius: 5px;
  padding: 10px;
}
.folder-button-text {
  text-decoration: none;
  color: white;
}

.single-folder {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 280px;
  min-height: 47vh;
  border-radius: 10px;
  box-shadow: 3px 3px 10px 1px rgb(67, 119, 120);
}


.item-count {
  margin: 0;
  margin-top: 9px;
}

.item-count-and-folder {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
}

/* FOLDER PAGE DESIGN CSS */

.file-img {
  width: 480px;
  height: auto;
}

.file-page-container {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.file-page-header {
  display: flex;
  justify-content: space-between;
}

.homepage-link {
  margin-block-start: 1.5em;
}

#file-table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}


#file-table > tr > td {
  border: 1px solid #bbb;
  padding: 10px;
}

#file-table tr:nth-child(even) {
  background-color: #828181;
}
#file-table tr:hover:nth-child(even) {
  background-color: rgb(91, 91, 91);
}

#file-table > td {
  padding-top: 12px;
  padding-bottom: 12px;
}


.file-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 50px;
}


.file-data-container {
  display: flex;
  flex-direction: column;
}
.file-data {
  padding-top: 50px;
}


.item-page-header {
  display: flex;
  justify-content: space-evenly;
}

.item-video {
  margin-top: 40px;
}


.media-container {
  display: flex;
  justify-content: center;
  margin: 10px;
}


/* MEDIA QUERIES */

@media screen and (max-width: 780px) {
  .folder-container {
    justify-content: center;
    grid-template-columns: repeat(1, 300px);
  }

  .file-page-container {
    padding: 10px;
  }

  #file-table > tr > td {
    word-wrap: break-word;
  }

}



